<div class="col-sm-4 bike-item">
    <div class="bike-item-content">
      <a href=<%= "#bikeModal#{bike.id}" %> class="bike-link" data-toggle="modal">
          <div class="caption">
              <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
              </div>
          </div>
          <% if bike.avatars.length > 0 %>
              <%= image_tag(bike.avatars[0].thumb.url , class:"img-responsive certer-block") %>
              <p class="bike-name"><%= bike.name %></p>
          <% end %>
          <br />
      </a>
    </div>
</div>
