<section class="favorite-activity">
  <div class="container">
    <div class="col-lg-12">
      <!-- activity list -->
      <table class="table">
        <%= render "shared/activity_list" , activities: @activities %>
      </table>
    </div>
  </div> 
</section>
